body {

}

h1 {
    font-size: 4.5em;
    text-align: center;
}

.custom-navbar {
    background-color: white !important;
    padding: 3.5vw 3.5vw 0;
}

.nav-item {
<<<<<<< HEAD
    padding-left: 1.75vw;
    font-size: 18px;
}

.name-text {
    padding: 0 7vw;
=======
    padding: 0 1.75vw;
>>>>>>> b7bd9880ce56e1dbca9d5120f893c1420cb5647e
}

.header-img {
    width: 100%;
    height: 100vh;
}

.header-left {
    padding-left: 0px;
    padding-right: 0px;
}

.header-right {
    padding-left: 0px;
    padding-right: 0px;
}

/* Flex Font */
.flexFont {
    width: 95%;
}
