/*
@media (min-width: $screen-sm-min) {
  h1 {
    font-size: $h1-fontsize*0.4;
  }

  h6 {
    font-size: $h6-fontsize*0.4;
  }

  .explore-text {
    font-size: $h6-fontsize*0.4;
  }
}

@media (min-width: $screen-md-min) {
  h1 {
    font-size: $h1-fontsize*0.53 !important;
  }

  h6 {
    font-size: $h6-fontsize*0.53 !important;
  }

  .explore-text {
    font-size: $h6-fontsize*0.53 !important;
  }
}

@media (min-width: $screen-lg-min) {
  h1 {
    font-size: $h1-fontsize*0.71 !important;
  }

  h6 {
    font-size: $h6-fontsize*0.71 !important;
  }

  .explore-text {
    font-size: $h6-fontsize*0.71 !important;
  }
}

@media (min-width: $screen-xlg-min) {
  h1 {
    font-size: $h1-fontsize !important;
  }

  h6 {
    font-size: $h6-fontsize !important;
  }

  .explore-text {
    font-size: $h6-fontsize !important;
  }
}

@media (min-width: $screen-4klg-min) {
  h1 {
    font-size: $h1-fontsize*1.78 !important;
  }

  h6 {
    font-size: $h6-fontsize*1.78 !important;
  }

  .explore-text {
    font-size: $h6-fontsize*1.78 !important;
  }
}
*/
@media (max-width: 1024px) {
  .btn-viewwork h6 {
    font-size: 16px !important; }

  .btn-viewwork {
    width: 50% !important;
    height: 5.18vh; } }
@media (min-width: 576px) {
  .nav-item {
    font-size: 8.944px; } }
@media (min-width: 768px) {
  .nav-item {
    font-size: 11.8508px !important; } }
@media (min-width: 1024px) {
  .nav-item {
    font-size: 15.8756px !important; } }
@media (min-width: 1440px) {
  .nav-item {
    font-size: 22.36px !important; }

  .explore-text {
    font-size: 22.36px !important; } }
@media (min-width: 2560px) {
  .nav-item {
    font-size: 39.8008px !important; }

  .explore-text {
    font-size: 39.8008px !important; } }
/* Global CSS */
h1 {
  font-size: 96px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  line-height: 110.4%;
  font-weight: bold;
  color: #082d3a; }

h6 {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 141.8%;
  color: #636363;
  text-align: center; }

.explore-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 141.8%;
  color: #636363;
  text-align: center;
  padding-top: 14.24vh;
  font-size: 18px; }

body {
  width: 100%; }

.custom-navbar {
  background-color: white !important;
  padding: 3.5vw 3.5vw 0; }

.navbar-brand {
  margin-right: 0; }

.nav-item {
  padding: 0 1.75vw;
  font-family: "Open Sans", sans-serif;
  color: #082d3a; }

.header-nametext {
  padding: 0 5.25vw;
  padding-top: 14.6vh; }

.header-subtext {
  padding-top: 3.8vh;
  padding-bottom: 3.8vh;
  padding-left: 5.25vw;
  padding-right: 5.25vw; }

.header-button {
  display: flex;
  justify-content: center;
  padding-bottom: 32.4vh; }

.btn-viewwork {
  width: 18.75%;
  height: 5.18vh;
  background: #267491;
  border-radius: 50px;
  border-color: #267491;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 90%;
  /* identical to box height, or 18px */
  text-align: center;
  color: #ffffff !important; }

.btn-viewwork h6 {
  color: #ffffff;
  margin-bottom: 0px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600; }

.header-img {
  width: 100%;
  height: 100vh; }

.header-left {
  padding-left: 0px;
  padding-right: 0px; }

.header-right {
  padding-left: 0px;
  padding-right: 0px;
  height: 110vh;
  background-image: url(images/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.explore-section {
  background-image: url(images/explore-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 31.35vh;
  z-index: 50;
  position: relative;
  margin-top: -30vh;
  width: 100%; }

/* Bootstrap Mods */
.row {
  margin-left: 0;
  margin-right: 0; }

/*# sourceMappingURL=style.css.map */
